<h1>Creatures at SLU's Bog</h1>
<div>
    <p>You'll find a whole host of horrible creatures at SLU's bog. A few are shown below</p>

    <p>The most common to be seen are the <%= @creatures[0].name %>, which is truely <%= @creatures[0].description %><br> and the <%= @creatures[1].name %>. Watch out for its <%= @creatures[1].description %></p>  

    <br><p>Help us out by identifying other creatures at the SLU bog.</p>  
</div>

