<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/creatures">Home</a></li>
    <li role="presentation"><a href="/creatures/new">Add a Creature</a></li>
    <li role="presentation"><a href="/creatures/list">List of creatures</a></li>
</ul>

<div class="center">
    <h1>Creatures at SLU's Bog</h1><br>
    <h3>You'll find a whole host of horrible creatures at SLU's bog. </h3>

    <h3>The most common to be seen are the Grue, which is truely Gruesome ;p<br> and the Flesh eating slugs. Watch out for their angry temperament. </h3>  

    <br><h3>Help us out by identifying other creatures at the SLU bog.</h3>  
</div>

