<ul class="nav nav-tabs">
    <li role="presentation"><a href="/creatures">Home</a></li>
    <li role="presentation" class="active"><a href="/creatures/new">Add a Creature</a></li>
    <li role="presentation"><a href="/creatures/list">List of creatures</a></li>
</ul>

<div class="center">
    <h1>Add a Creature Here</h1>

    <%= render 'creatures/form' %>
</div>
    
